<% if(page === 'continent'){ %>
    <button class='button world'>worldwide</button>
    <div class='title continent'>
        <% print({
            'ww': 'worldwide',
            'as': 'asia',
            'eu': 'europa',
            'af': 'africa',
            'oc': 'oceania',
            'na': 'north America',
            'sa': 'south America',
        }[region]) %>
    </div>
<% } %>

<% if(page === 'map'){ %>
    <button class='button about'>read about</button>
    <div class='title world'><% print(browser === 'all' ? 'browsers' : browser) %></div>
<% } %>

<% if(page === 'about'){ %>
    <div class='title about'>about it</div>
    <button class='button world'>worldwide</button>
<% } %>
