#map{
    .bgmap,
    .fgmap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 70px;
    }
    .fgmap{
        top: -50px;
        bottom: 0px;
        overflow: hidden;
    }
    .amap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background-color: red;
    }

    .donut{
        bottom: 71px;
        height: 180px;
        width: 300px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
