#app .timeline{
    position: absolute;
    width: 100%;
    height: 60px;

    overflow: hidden;
    white-space: nowrap;

    background-color: #C0C0C0;
    outline: solid 1px white;
    border-bottom: solid 1px black;

    will-change: margin-top;
    transition: margin-top 1s;

    .row.wrapper{
        will-change: transform;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    fieldset {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }

    .flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // justify-content: space-around;
        justify-content: center;
        align-items: center;
    }

    input{
        display: none;
    }

    .browsers{
        label{
            width: 48px;
            height: 48px;
            cursor: pointer;
            transform: scale(0.7) translateY(8px);
            filter: grayscale(100%);
            will-change: transform, filter;
            transition: transform .2s, filter .2s;
        }
        input[value=all]+label{
            width: 66px;
        }

        input:checked+label{
            transform: scale(1) translateY(6px);
            filter: grayscale(0%);
        }
        label:hover{
            transform: scale(1);
            filter: grayscale(0%);
        }
    }

    .years{
        label{
            line-height: 50px;
            vertical-align: middle;
            padding: 0 10px;
            font-size: 1.0em;
            text-transform: uppercase;
            will-change: font-size;
            transition: font-size .2s;
        }

        label:hover,
        input:checked+label{
            font-size: 1.6em;
        }
    }

    input:checked+label{
        font-weight: bold;
        text-decoration: underline;
        cursor: default;
    }

    input:not(:checked)+label:hover:after{
        content: attr(name);
        position: absolute;
        font-size: 13px;
        display: block;
        left: 50%;
        z-index: 9;
        font-weight: bold;
        transform: translate(-50%, 44px);

    }


    @each $browser in all, Android, Safari, Chrome, Opera, Firefox, IE, Edge{
        input[value=#{$browser}]+label{
            background-image: url('../assets/#{$browser}_48x48.png');
        }
    }
}
